<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzq.mentalhealth.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.xzq.mentalhealth.model.entity.Course">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="subjectId" column="subjectId" jdbcType="BIGINT"/>
            <result property="subjectPid" column="subjectPid" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="lessonNum" column="lessonNum" jdbcType="INTEGER"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="buyCount" column="buyCount" jdbcType="BIGINT"/>
            <result property="viewCount" column="viewCount" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
            <result property="statue" column="statue" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subjectId,subjectPid,
        title,description,price,
        lessonNum,cover,buyCount,
        viewCount,version,statue,
        createTime,updateTime,isDelete
    </sql>
</mapper>
