<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzq.mentalhealth.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.xzq.mentalhealth.model.entity.Orders">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="orderNo" jdbcType="VARCHAR"/>
            <result property="alipayNo" column="alipayNo" jdbcType="VARCHAR"/>
            <result property="courseId" column="courseId" jdbcType="BIGINT"/>
            <result property="courseTitle" column="courseTitle" jdbcType="VARCHAR"/>
            <result property="courseCover" column="courseCover" jdbcType="VARCHAR"/>
            <result property="teacherName" column="teacherName" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="totalFee" column="totalFee" jdbcType="DECIMAL"/>
            <result property="payType" column="payType" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="payTime" column="payTime" jdbcType="DATE"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderNo,alipayNo,
        courseId,courseTitle,courseCover,
        teacherName,userId,userAccount,
        totalFee,payType,status,
        payTime,createTime,updateTime,
        isDelete
    </sql>
</mapper>
